// Color
$color-white: #fff; // 字体白色
$color-dark: #333; // 字体深色
$color-black: #505050;//字体默认色
$color-green: #40b173; // 字体绿色
$color-link: #337ab7;//链接颜色
$color-link-hover: #23527c; // 链接hover颜色
$backgoundcolor: #fafafa; //背景颜色
$font-family-base: PingFangSC-Light; // 主字体
$font-family-sub: PingFangSC-Semibold; // 辅助字体
$border-color: #cbcbcb; // border边框颜色